<section class='sec contact' id='contact'>
	<span class='mobile-offset' id='contact-mobile'></span>
	<div class='contact__image' style="background-image:url({{ include.bg }})"></div>
	<div class='contact__form'>
		<h2 class='text --title --center'>{{include.title}}</h2>
		<div class='contact__form-divider'></div>
		<form action='#' class='form' id='contact-form'>
			<input class='form__input --span-line' type='text' name='name' id='input-name' placeholder='Name' required>
			<input class='form__input --span-line' type='text' name='email' id='input-email' placeholder='E-mail' required>
			<input class='form__input --span-line' type='text' name='phone' id='input-phone' placeholder='Phone' required>
			<select class='form__input --select --span-line' name='type' id='input-type' required>
				<option value='' disabled='true' selected>Choose your trip type</option>
				<option value='corp'>Hiking</option>
				<option value='social'>Camping</option>
			</select>
			<textarea class='form__input --textarea --span-line' id='input-msg' data-placeholder='Message' name='msg'></textarea>
			<div class='form__fakelabel' id='fake-label' data-input='input-msg'>Observations</div>
			<input class='form__input' type='text' name='promocode' id='input-promocode' placeholder='Promo Code'>
			<button class='form__submit' id='form-submit' type="submit">Send</button>
		</form>
		<div class="contact__hint text --body --center" id='form-hint'>&nbsp;</div>
	</div>
</section>

