<section class='sec testimonials' style="background-image:url(images/testimonial.jpg)" id='testimonials'>
		<span class='mobile-offset' id='testimonials-mobile'></span>
		<ul class='testimonials__list' id='testimonial-list'>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"I loved it!"</p>
				<p class='testimonials__item-name'>John Doe</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"It was awesome!"</p>
				<p class='testimonials__item-name'>Joanna Doe</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Can't wait to go again!"</p>
				<p class='testimonials__item-name'>John Doe Jr.</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Absolutely stunning!"</p>
				<p class='testimonials__item-name'>Jonnathan Doe</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Delete all your social media!"</p>
				<p class='testimonials__item-name'>Jennifer Doe</p>
			</li>			
		</ul>
		<div class='testimonials__nav' id='testimonials-nav'>
			<div class="testimonials__nav-item --left"><</div>
			<div class="testimonials__nav-item --right">></div>
		</div>
</section>