<section class='contact' id='contact'>
	<div class='contact__image lazy' data-src="/images/contact.jpg"></div>
	<div class='contact__form'>
		<h2 class='text --title --center'>{{include.title}}</h2>
		<div class='contact__form-divider'></div>
		<form action='#' class='form' id='contact-form'>
			<input class='form__input --span-line' type='text' name='name' id='input-name' placeholder='Nome' required>
			<input class='form__input --span-line' type='text' name='email' id='input-email' placeholder='E-mail' required>
			<input class='form__input --span-line' type='text' name='phone' id='input-phone' placeholder='Telefone' required>
			<select class='form__input --select --span-line' name='type' id='input-type' required>
				<option value='' disabled='true' selected>Escolha o tipo de evento</option>
				<option value='corp'>Evento Corporativo</option>
				<option value='social'>Evento Social</option>
			</select>
			<textarea class='form__input --textarea --span-line' id='input-msg' data-placeholder='Mensagem' name='msg'></textarea>
			<div class='form__fakelabel' id='fake-label' data-input='input-msg'>Mensagem</div>
			<input class='form__input' type='text' name='promocode' id='input-promocode' placeholder='Código Promocional'>
			<button class='g-recaptcha form__submit' id='form-submit' data-sitekey="6LeQE1IUAAAAAF6c3YmLcApvymYDUUyJtXBhUd4_" data-callback='sendForm'>Enviar</button>
		</form>
		<div class="contact__hint text --body --center" id='form-hint'>&nbsp;</div>
		<p class="captcha-notice">Esta página é protegida pelo reCAPTCHA e está sujeita à <a href="https://www.google.com/policies/privacy/">Política de privacidade</a> e aos <a href="https://www.google.com/policies/terms/">Termos de serviço</a> do Google.</p>		
	</div>
</section>

