<header class='header'>
	<div class='header__contact'>
		<p class='header__contact-text'>+55 11 3059 3277 - São Paulo Capital | 0800 726 1500 - Demais Localidades</p>
	</div>
	<div class="header__nav">
		<img src="{{ "/images/logo-neg.svg" | relative_url }}" alt="" class="header__logo">
		<div class="header__mobile --text">EVENTOS</div>
		<button class="header__mobile --btn" id='mobile-menu-toggle'></button>
		</v-container>
		<ul class='header__menu' id='mobile-menu'>
			{% for item in layout.menu-items %}
			    <li class='header__menu-item'><a href="">{{ item.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</header>