<div class="slider">
	<ul class="slider__list">
		<li class="slider__list-item">
			<div data-src="images/slide1.jpg" alt="" style='background-image: url("images/slide1.jpg");' class="slider__list-img"></div>
		</li>
		<li class="slider__list-item">
			<div data-src="images/slide2.jpg" alt="" style='background-image: url("images/slide2.jpg");' class="slider__list-img"></div>
		</li>
		<li class="slider__list-item">
			<div data-src="images/slide3.jpg" alt="" style='background-image: url("images/slide3.jpg");' class="slider__list-img"></div>
		</li>
		<li class="slider__list-item">
			<div data-src="images/slide4.jpg" alt="" style='background-image: url("images/slide4.jpg");' class="slider__list-img"></div>
		</li>
		<li class="slider__list-item">
			<div data-src="images/slide5.jpg" alt="" style='background-image: url("images/slide5.jpg");' class="slider__list-img"></div>
		</li>
	</ul>
</div>