<section class='places-menu'>
	<div class="places-menu__item --left">
		<h3 class="text --title --center --neg">Estanplaza <br> <strong>Funchal</strong></h3>
	</div>
	<div class="places-menu__item --right">
		<h3 class="text --title --center --neg">Estanplaza <br> <strong>Internacional</strong></h3>
	</div>
	<div class="places-menu__item --left">
		<h3 class="text --title --center --neg">Gran Estanplaza <br> <strong>Berrini</strong></h3>
	</div>
	<div class="places-menu__item --right">
		<h3 class="text --title --center --neg">Gran Estanconfor <br> <strong>Veranda Berrini</strong></h3>
	</div>
	<div class="places-menu__item --line">
		<h3 class="text --title --center --neg">Bar <strong>Mirante</strong></h3>
	</div>
</section>