<section class='places-menu' id='places-section'>
{% for item in site.places %}
{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
    {% if forloop.last %}
		<div class="places-menu__item --line">
			<h3 class="text --title --center --neg">{{item.title}}</h3>
		</div>
    {% else %}
		<div class="places-menu__item --left">
			<h3 class="text --title --center --neg">{{item.title}}</h3>
		</div>
    {% endif %}  
  {%else%}
	<div class="places-menu__item --right">
		<h3 class="text --title --center --neg">{{item.title}}</h3>
	</div>
  {% endif %}
{% endfor %}	
</section>