<section class='testimonials'>
		<ul class='testimonials__list'>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet!"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet!"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet."</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet."</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet."</p>
				<p class='testimonials__item-name'>Name</p>
			</li>			
		</ul>
</section>