<section class='testimonials' id='testimonials-section'>
		<ul class='testimonials__list'>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet!"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet!"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet."</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet."</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet."</p>
				<p class='testimonials__item-name'>Name</p>
			</li>			
		</ul>
		<div class='testimonials__nav'>
			<div class="testimonials__nav-item --left"><</div>
			<div class="testimonials__nav-item --right">></div>
		</div>
</section>