<section class='sec testimonials lazy' data-src="/images/testimonial.jpg" id='testimonials'>
		<ul class='testimonials__list' id='testimonial-list'>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet!1"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet!2"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet.3"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet.4"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>
			<li class="testimonials__item">
				<p class='testimonials__item-text'>"Lorem ipsum dolor sit amet.5"</p>
				<p class='testimonials__item-name'>Name</p>
			</li>			
		</ul>
		<div class='testimonials__nav' id='testimonials-nav'>
			<div class="testimonials__nav-item --left"><</div>
			<div class="testimonials__nav-item --right">></div>
		</div>
</section>