<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <!-- og metas -->
  <meta property="og:title" content="OUTDOOR">
  <meta property="og:description" content="Trip Agency">
  <meta property="og:type" content="website">
  <meta property="og:image:alt" content="">
  <meta property="og:image" content="">
  <meta property="og:locale" content="pt_BR">
  <meta name="keywords" content="trip">
  <meta http-equiv="cache-control" content="Public">
  <meta http-equiv="pragma" content="Public">
  <meta name="description" content="Trip Agency">
  <meta name="author" content="Emanuel Prado">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
</head>
<body>
<main id='main'>
{% include header.html %}
{% include main-gallery.html %}
{% include section-container.html 
    title="we can <strong> take you there</strong>"
    bg="../../images/eventos_enc.jpg" 
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae iusto minima sunt eveniet ducimus ration possimus consequatur quo, dolore nulla, praesentium vero recusandae quis laborum ipsa voluptatem. Suscipit, distinctio, commodi.." 
    section="about"%}
{% include places-menu.html %}
{% include section-container-reverse.html 
    title="benefits"
    bg="../../images/panel.jpg" 
    content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae iusto minima sunt eveniet ducimus ratione possimus consequatur quo, dolore nulla, praesentium vero recusandae quis laborum ipsa voluptatem. Suscipit, distinctio, commodi.." 
    section="gastronomy" %}
{% include testimonials.html %}
{% include contact.html title="Get a quote" %}
{% include footer.html %}
</main>
</body>
<script src="{{ "/js/main.min.js" | relative_url }}"></script>
<!-- <script async defer src='https://www.google.com/recaptcha/api.js'></script> -->
</html>