.contact{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: auto;
	min-height: 40rem;

	@media (max-width: 600px) {
		height: auto;
		grid-template-columns: 100vw;
		grid-template-rows: 1fr;
	}

	.contact__form {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 8rem;
		position: relative;

		@media (max-width: 600px) {
			padding: 2rem;

			&:after {
				display: none;
			}
		}

		.contact__form-divider {
			background-color: #03061b;
			height: .1rem;
			margin: 1rem 0;
			width: 50%;
		}

		&:after {
			position: absolute;
			border: 2px solid #03061b;
			content: "";
			height: 80%;
			width: 80%;
			top: 10%;
			left: 10%;
			pointer-events: none;
		}

		.grecaptcha-badge {
			display: none;
		}

        .captcha-notice {
            color: $main-brand;
            font-family: 'Lato-Thin', sans-serif;
            font-size: .8rem;
            line-height: 1rem;
            margin-top: 1rem;

            > a {
            	color: inherit;
                font: inherit;
                font-family: 'Lato-Bold';
                text-decoration: none;
            }
        }		
	}
	.contact__image {
		background-image: url('../../images/contact.jpg');
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;

		@media (max-width: 600px) {
			height: 50vh;
		}		
	}
}