.section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: auto;
	min-height: 40rem;

	@media (max-width: 600px) {
		height: auto;
		grid-template-columns: 100vw;
		grid-template-rows: 1fr;
	}

	.section__content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 8rem;
		position: relative;

		@media (max-width: 600px) {
			padding: 2rem;

			&:after {
				display: none;
			}
		}

		> p {
			color: $main-brand;	
			font-family: 'Lato-Thin';
			font-size: 1rem;
			line-height: 1.6rem;
			text-align: center;

			> strong {
				font: inherit;
				font-family: 'Lato-Bold';
			}

			> a {
				color: $main-brand;
				font: inherit;
				font-family: 'Lato-Medium';
				text-decoration: none;
			}

			> em {
				color: $main-brand;
				font: inherit;
				font-style: italic;
			}
		}

		.section__content-divider {
			background-color: $main-brand;
			height: .1rem;
			margin: 1rem 0;
			width: 50%;
		}

		&:after {
			position: absolute;
			border: 2px solid $main-brand;
			content: "";
			height: 80%;
			width: 80%;
			top: 10%;
			left: 10%;
			pointer-events: none;
		}
	}
	.section__image {
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;

		@media (max-width: 600px) {
			height: 50vh;
		}
	}
}