.slider {
    min-height: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    .slider__list {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 0vw;
        width: 400vw;
        transition: left 300ms ease;

        .slider__list-item {
            .slider__list-img {
                background-size: cover;
                background-position: center;
	            height: 100vh;
	            width: 100vw;
            }
        }
    }

    .slider__nav {
        bottom: 1.5rem;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;

        .slider__nav-item {
            background-color: $main-brand;
            border: 2px solid #ececec;
            height: 1.5rem;
            margin: 0 .25rem;
            opacity: .8;
            width: 1.5rem;

            &.--active {
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
                opacity: 1;
            }

            &:hover {
                cursor: pointer;
                opacity: .9;
            }
        }
    }
}
