.testimonials {
	align-items: center;
	background-image: url('https://picsum.photos/856/720');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	position: relative;

	&:after {
		background-color: rgba(#fff, .6);
		content: "";
		height: 20rem;
		top: calc(50% - 10rem);
		position: absolute;
		width: 100%;
	}

	.testimonials__list {
		display: flex;
		left: 0vw;
		position: absolute;
		transition: left 300ms ease;
		width: auto;
		z-index: 9;

		.testimonials__item {
			align-items: center;
			color: $main-brand;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			width: 100vw;

			@media (max-width: 800px) {
				&:before {
					display: none;
				}
				&:after {
					display: none;
				}
			}

			&:before {
				content: "“";
				font-family: 'Georgia';
				font-size: 25rem;
				left: 5rem;
				pointer-events: none;
				position: absolute;
				top: -55%;
			}

			&:after {
				content: "”";
				font-family: 'Georgia';
				font-size: 25rem;
				pointer-events: none;
				position: absolute;
				right: 5rem;
				top: 35%;
			}				

			.testimonials__item-text {
				display: flex;
				flex-direction: column;
				font-family: 'Lato-Medium';
				font-size: 4rem;
				position: relative;
				text-align: center;
				padding: 0 25%;
				width: 100%;

				@media (max-width: 600px) {
					font-size: 2rem;
					padding: 0 10%;
				}
				
				&:after {
					align-self: flex-end;
					position: absolute;
					bottom: -1rem;
					content: "...";
				}
			}

			.testimonials__item-name {
				font-family: 'Lato-Thin';
				font-size: 1.2rem;
				font-style: italic;
				line-height: 2.5rem;
				text-align: right;
				padding: 0 25%;
				width: 100%;

				@media (max-width: 600px) {
					padding: 0 10%;
				}				
			}
		}
	}

	.testimonials__nav {
		align-items: center;
		color: $main-brand;
		display: flex;
		font-family: 'Lato-Medium';
		font-size: 5rem;
		justify-content: space-between;
		padding: 0 2rem;
		position: absolute;
		width: 100%;
		z-index: 9;

		.testimonials__nav-item {
			cursor: pointer;
			transform: scaleX(.5);
			transition: margin 300ms ease;

			&:hover {
				text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
				margin-bottom: 1rem;
			}
		}
	}	
}