.text {
	&.--title {
		color: $main-brand;
		font-family: 'Lato-Thin';
		font-size: 2.4rem;
		line-height: 2.8rem;
		text-transform: uppercase;
	}

	&.--body {
		color: $main-brand;	
		font-family: 'Lato-Thin';
		font-size: 1rem;
		line-height: 1.6rem;
	}

	&.--center {
		text-align: center;
	}

	> strong {
		font: inherit;
		font-weight: bold;
	}

	&.--neg {
		color: $neg-brand;	
	}

}