.footer {
	align-items: center;
	background-color: $main-brand;
	display: flex;
	justify-content: center;
	padding: 2rem;

	@media (max-width: 600px) {
		position: relative;
	}

	.footer__logo {
		height: 3rem;
		width: auto;

		@media (max-width: 600px) {
			height: 2.5rem;
		}		
	}
}
