.places-menu {
	background: $main-brand;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 15fr 15fr 10fr;
	height: 100vh;

	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
		min-height: calc(10rem);
		position: relative;
	}

	.places-menu__item {
		align-items: center;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: center;
		justify-content: center;
		height: 100%;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		width: 100%;
		z-index: 5;

		.text.--title {
			width: 60%;

			@media (max-width: 600px) {
				width: 80%;
			}
		}

		@media (max-width: 600px) {
			height: 20vh;

			.text.--title {
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}

		&:hover {
			cursor: pointer;
			
			&:before {
				opacity: .7;
			}
		}
		
		&:before {
			background-color: rgba($main-brand, .9);
			content: "";
			opacity: .9;
			height: 100%;
			position: absolute;
			transition: opacity 300ms ease;
			width: 100%;
			z-index: -1;
		}

		&:after {
			border: 2px solid #fff;
			content: "";
			height: 80%;
			left: 10%;
			pointer-events: none;
			position: absolute;
			top: 10%;
			width: 80%;
			z-index: 10;

			@media (max-width: 600px) {
				border-left: 0;
				border-right: 0;
				height: 98%;
				left: 20%;
				top: 0;
				width: 60%;
			}
		}

		&.--left {
			&:after {
				@media (min-width: 600px) {
					left: -1%;
					width: 90%;						
				}
			}
		}

		&.--right {
			&:after {
				@media (min-width: 600px) {
					left: 11%;
					width: 90%;	
				}
			}
		}	

		&.--line {
			grid-column: 1 / span 2;
			
			&:after {
				@media (min-width: 600px) {
					width: 102%;
					left: -1%;
				}				
			}
		}
	}
}