---
layout: page
---
<div class="place" id='place-section'>
	<div class="place__main lazy" id='place-main' data-src='{{ page.image_path }}'>
		<div class="place__header">
			<h2 class="place__title">{{ page.title }}</h2>
			<div class="place__header-divider"></div>
		</div>
	</div>
	{% include section-container.html 
		title="características <strong>gerais</strong>" 
		content=page.content
		bg=page.image_path
	%}
	<div class="place__gallery">
		<div class="place__gallery-container" id='place-gallery'>
			{% for item in page.gallery %}
			<div class="place__gallery-item" data-media='{{item.media_url}}'>
				<img class='lazy' data-src="{{item.thumb}}" alt="">
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="place__bottom lazy" data-src='{{ page.image_path }}'>
		<div class="place__footer">
			<h2 class="place__title">{{ page.title }}</h2>
			<div class="place__header-divider"></div>
			<p class='text --body --neg'>{{ page.address }}</p>
		</div>
	</div>
</div>
