@font-face {
    font-family: 'Lato-Bold';
    font-display: fallback;
    src: url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Lato-Medium';
    font-display: fallback;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Lato-Thin';
    font-display: fallback;
    src: url(../fonts/Lato-Light.ttf) format("truetype");
}